
 body{
   
   font-size: 22px;
    color: blue;
    background-color: whitesmoke;
   
  }

  h1{
    font-size: 32px;
    color: red;
    background-color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  h2 {
   font-size: 32px;
    color: red;
    background-color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
 h3 {
   font-size: 32px;
    color: red;
    background-color: black;
    width: 100%;
    padding: 20px;
      text-align: center;
  }

  nav ul{
    font-size: 22px;
    color: black;
    background-color: blanchedalmond;
    list-style: none;
    padding-left: 5px;
    
  }

  section{
    font-size 20px;
    color: blue;
    background-color: lightblue;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

article {
    font-size 20px;
    color: black;
    background-color: lightgoldenrodyellow;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}

  footer{
    font-size 14px;
    color: ghostwhite;
    background-color:black;
    width: 100%;
    padding: 10px;
    text-align: center;
  }